<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    </head>
    <body>
        <ul>
        {{ range .Issues }}
            <li>
                <p>ClientID: {{ .ClientID }}</p>
                <p>IssueID: {{ .ID }}</p>
                <p>Имя: {{ .Name }}</p>
                <p>Контактные данные:</p>
                <ul>
                    <li>Внутренний номер: {{ .InnerNumber }}</li>
                    {{ if .PhoneNumber }}
                    <li>Мобильный номер: {{ .PhoneNumber }}</li>
                    {{ end }}
                </ul>
                <p>Суть обращения: {{ .Description }}</p>
                <p>Status: {{ .Status }}</p>
                <button hx-post="/issue/{{ .ClientID }}/{{ .ID }}?action=accept" hx-swap="none">Принять обращение</button>
                <button hx-post="/issue/{{ .ClientID }}/{{ .ID }}?action=decline" hx-swap="none">Отклонить обращение</button>
            </li>
        {{ end }}
        </ul>
    </body>
</html>
