<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <script src="assets/htmx.min.js"></script>
    <script src="assets/ws.js"></script>
    <style>
      #modal {
        opacity: 1;
        transition: all 0.3s;
      }
      #modal.htmx-added {
        opacity: 0;
      }
      #modal.htmx-swapping {
        opacity: 0;
      }
    </style>
    <title>Document</title>
  </head>

  <body class="h-screen bg-main">
    <div class="container mx-auto px-4 h-full">
      {% include "partials/header.html" %} 
      {{ embed }}
    </div>
  </body>
</html>
