<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  </head>
    <body>
        <nav>
            <ul>
                <li><a hx-get="/chat" hx-target="#page">Chat</a></li>
                <li><a hx-get="/auth" hx-target="#page">Auth</a></li>
                <li><a hx-get="/task/new" hx-target="#page">New Task</a></li>
            </ul>
        </nav>
        <div id="page">
            {{ . }}
        </div>
    </body>
</html>
