<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="assets/htmx.min.js"
    ></script>
    <script src="assets/ws.js"></script>
  </head>
    <body>
        <nav>
            <ul>
                <li><a hx-get="/identity/info" hx-target="#page">Identity</a></li>
                <li><a hx-get="/chat" hx-target="#page">Chat</a></li>
                <li><a hx-get="/auth" hx-target="#page">Auth</a></li>
                <li><a hx-get="/task/new" hx-target="#page">New Task</a></li>
            </ul>
        </nav>
        <div id="page">
            {{ . }}
        </div>
    </body>
</html>
